# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.log

# Models
models/*.pth
!models/__init__.py
!models/lumeo_unet.pth

# Data
data/
datasets/
backend/lumeo_unet.pth

# Deployment
# hfs_deploy/
